/* Styles for the Customer Monitoring Dashboard */

.table-view-list .column-primary {
    font-weight: 600;
}

.table-view-list .no-items td {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}
